@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
html {
    font-family: Great Vibes, serif;
    scrollbar-width: 0;
    --webkit-scrollbar-width: 0;
    overflow-x: hidden;
}

h2, h3 {
    text-align: center;
}


.menu {
    width: 90vw;
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px dotted #ccc;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item .name {
    flex: 1;
}

.menu-item .price {
    flex: 0 0 auto;
    margin-left: 10px;
}

.gallery {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item {
    text-align: center;
}

.gallery-item img {
    width: 265px;
    height: 230px;
    object-fit: cover;
}


@media (max-width: 640px) {
    html {
        max-width: 600px;
    }

    .gallery-item {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .gallery-item img {
        width: 100%;
        height: auto;
    }
}